<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="{{BASE_CSS_URL}}/materialdesignicons.min.css" rel="stylesheet">
    <link href="{{BASE_CSS_URL}}/roboto.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{BASE_CSS_URL}}/app.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="rcrm-nav bg_primary">
        <a class="" href="#"><img src="{{BASE_IMAGES_URL}}/logo-white.svg" width="45%" alt=""></a>
    </nav>
    <section id="main" class="main-ext-section main rcrm-text-center">
        <!-- Login and SignUp Screen -->
        <section class="ext-section out-ext rcrm-height-100">
            <div class="p-35">
                <span>{{errorMessage}}</span>
            </div>
        </section>
        <!-- Login and SignUp Screen -->
    </section>
</body>